<!DOCTYPE html> 
<html> 
  
    <head> 
        <title>
            This is a simple app to detect if a person is wearing face mask or not.
        </title>
        
        <style>
            .button {
                border: none;
                color: white;
                text-align: center;
                font-size: 20px;
            }
            .b1 {
                
                /* Set button background color */
                background-color: rgb(214, 171, 30);
            }
            
        </style>
    </head>
    
    <body>
        This is a simple app to detect if a person is wearing face mask properly,improperly  or not at all. 
        
        <form action="/home/detection">
            <button class = "Face Mask Detection b1" type="submit">Face Mask Detection</button></form>
        
    </body> 
</html>   